Programlama dilleri dersi Colab defteri

In [ ]:
end=1
print(end)

1

In [ ]:
(-3)**2

9

In [ ]:
x = int(input("Please enter an integer: "))
if x < 0:
     x = 0
     print('Negative changed to zero')
elif x == 0:
     print('Zero')
elif x == 1:
     print('Single')
else:
     print('More')

Please enter an integer: 10
More

In [ ]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w,len(w))

cat 3
window 6
defenestrate 12

In [ ]:
# Create a sample collection
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

In [ ]:
print(active_users)

{'Hans': 'active', '景太郎': 'active'}

In [ ]:
for i in range(5):
     print(i,end=',')

0,1,2,3,4,

In [ ]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(5, 50, 3))

[5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47]

In [ ]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
     print(i+1, a[i])

1 Mary
2 had
3 a
4 little
5 lamb

In [ ]:
a=list(range(10))

In [ ]:
range(10)

range(0, 10)

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
sum(range(4))

6

In [ ]:
prod(range(4))

NameError: ignored

In [ ]:
range(2,2)

range(2, 2)

In [ ]:
sum(range(2,2))

0

In [ ]:
list(range(2,3))

[2]

In [ ]:
for n in range(2, 10):
...     for x in range(2, n):
...         if n % x == 0:
...             print(n, 'equals', x, '*', n//x)
...             break
...     else:
...         # loop fell through without finding a factor
...         print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
for num in range(2, 10):
...     if num % 2 == 0:
...         print("Found an even number", num)
...         continue
...     print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [ ]:
#Match python3.10'da çalışıyor !
match point:
    case (0, 0):
        print("Origin")
    case (0, y):
        print(f"Y={y}")
    case (x, 0):
        print(f"X={x}")
    case (x, y):
        print(f"X={x}, Y={y}")
    case _:
        raise ValueError("Not a point")

SyntaxError: ignored

In [ ]:
!python --version

Python 3.7.12